# ignore everything
*
# except these files...
!.gitignore
!*.py
!*.jl
!*.sh
!*.ipynb
!*.r
!*.json
!*.md

# ...even if they are in subdirectories
!*/

# ... unl;ess the directory is .vcscode
/.vscode/
/.ipynb_checkpoints/